<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">

<!-- 
	AppleScript.plist
	
	A simplified version of AppleSript that isn't coded and can't be built.
	
	Copyright Anthony Arblaster 2023
		Web: codebyanthony.com
		Mastodon: https://mastodonapp.uk/@aarblaster
		GitHub: https://github.com/aarblaster/bbeditLanguageModules
	
	MIT Licence
	Huge thanks to team BBEdit.
-->






<dict>
    <!-- Some required stuff. Inclyding a unique ID. -->	
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>AppleScript BASIC</string>
	<key>BBLMLanguageCode</key>
	<string>aplB</string>
    
    
   	<!-- File extension to apply to. -->	
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
        	<string>.scpt</string>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
	<string>scpt</string>
    
    <!-- Spell Check? -->	
	<key>BBLMCanSpellCheckCodeRuns</key>
	<true/>
	
	<!-- Should syntax be coloured?,
		Obviously the answer is yes. -->
	<key>BBLMColorsSyntax</key>
	<true/>
    
    <!-- Keywords to be coloured. -->
    <key>BBLMKeywordList</key>
    <array>
        <string>if</string>
        <string>then</string>
        <string>else</string>
        <string>end if</string>
        <string>tell</string>
        <string>end tell</string>
        <string>application</string>
        <string>true</string>
        <string>false</string>
        <string>activate</string>
        
        <!-- Add more keywords as needed -->
    </array>
    
    <!-- Comment line-->
	<key>BBLMCommentLineDefault</key>
	<string>--</string>
	
	<!-- Features of the language to use -->
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
		<key>Open Line Comments</key>
		<string>--</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>	
		<key>Open Statement Blocks</key>
		<string>{</string>		
		<key>Close Statement Blocks</key>
		<string>}</string>		
		<key>Open Parameter Lists</key>
		<string>(</string>		
		<key>Close Parameter Lists</key>
		<string>)</string>	
	</dict>
</dict>
</plist>
