<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Bunch</string>
	<key>BBLMLanguageCode</key>
	<string>bunh</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.bunch</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.snippets</string>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
	<string>bunch</string>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<true/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>Language Features</key>
	<dict/>
	<key>New item</key>
	<string></string>
</dict>
</plist>
